{% extends 'base.html' %}
{% block content %}
<head>    
<link href="{{ url_for('static', filename='jquery.fancytree/dist/skin-xp/ui.fancytree.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.fancytree/dist/jquery.fancytree-all-deps.min.js') }}"></script>
    <script type="text/javascript">
     $(function(){
	 $("#tree").fancytree({
	     source: [
		 {title: "Pets", key: "1", folder: true, children:
     [
	 {title: "cat", key: "2"},
	 {title: "pup", key: "3"},
	 {title: "tortuga", key: "4"}
     ]}
	     ]
	 });
     });
    </script>
</head>
<body>
      <h1>my treeb</h1>
      <div class="fl w-third pa2">
	  <div id="tree">
	  </div>
      </div>
      <div class="fl w-third pa2" id="edit1">
	  <p id="editor">oh hey its some stuff
	  </p>
      </div>
</body>
{% endblock %}
