{% extends 'base.html' %}
{% block content %}
<head>    
<link href="{{ url_for('static', filename='jquery.fancytree/dist/skin-xp/ui.fancytree.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.fancytree/dist/jquery.fancytree-all-deps.min.js') }}"></script>
</head>

<body>
  <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
  <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">Title Information</h1>
  <div class="pa3 bt b--black-10">
    <p>some stuff</p>
  </div>
  </article>
</body>

{% endblock %}
	      
