{% extends 'base.html' %}
{% block content %}
<head>    
<link href="{{ url_for('static', filename='jquery.fancytree/dist/skin-xp/ui.fancytree.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.fancytree/dist/jquery.fancytree-all-deps.min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
      //converting response to Fancytree source
      function convertData(jsonData) {
        var sourceList = [];
        //def recursive json-builder
        function modsRecurse(jsonData, rootElmt) {
            for (var i=0; i<jsonData.subelements.length; i++)           {
               if (jsonData.subelements[i].hasOwnProperty('subelements')) {
                   var subElmt = {title: jsonData.subelements[i].datatype,
				  folder: true,
				  jdata: jsonData.subelements[i],
				  key: jsonData.subelements[i].resource_uri,
				  children: []};
		   console.log(subElmt.key);
		   rootElmt.children.push(subElmt);
                modsRecurse(jsonData.subelements[i], subElmt);                            
                } else {
		    var subElmt = {title: jsonData.subelements[i].datatype,
				   key: jsonData.subelements[i].resource_uri,
				   jdata: jsonData.subelements[i]};
rootElmt.children.push(subElmt);                 
                    }
                }
                    }
        // control flow for initializing the root/fragment obj
        if (jsonData.hasOwnProperty('subelements')) {       
            Elmt = {title: jsonData.datatype, folder: true, jdata: jsonData, children: []};            
            modsRecurse(jsonData, Elmt);
            sourceList.push(Elmt);
        } else {
            Elmt = {title: jsonData.datatype, jdata: jsonData};
            sourceList.push(Elmt);
            }
        return sourceList;
}
      
      //initialize Fancytree
	 $("#tree").fancytree({
		source: {url: 'http://localhost:5000/api/record/{{ recordid }}'},
			postProcess: function(event, data){
			data.result = convertData(data.response)},

	     dblclick: function(event, data) {
		 var node = data.node;
		 $.get(node.key, function(responseText){
		 $("#editor").text(responseText) });
	     }
	 });
     });
    </script>
</head>
<body>
      <h1>my treeb</h1>
      <div class="fl w-third pa2">
	  <div id="tree">
	  </div>
      </div>
      <div class="fl w-third pa2" id="edit1">
	  <p id="editor">oh hey its some stuff
	  </p>
      </div>
</body>
{% endblock %}
